{% extends 'main.html' %} {% load static %}
{% block content %}

        <main>
            <!-- page title start -->
            <section class="page_title_area" data-overlay="6" data-background="assets/img/bg/page_title_bg.jpg">
                <div class="containe">
                    <div class="row">
                        <div class="col-l2">
                            <div class="page_title text-center">
                                <h2>About us</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb justify-content-center">
                                        <li class="breadcrumb-item">
                                            <a href="index.html">Home</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title end -->

            <!-- counter start -->
            <section class="counter_area counter_2 pt-120 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="coun_wrap">
                                <div class="coun_single">
                                    <div class="c_icon">
                                        <img src="assets/img/icon/c_01.png" alt="">
                                    </div>
                                    <div class="c_text">
                                        <h2>146<span>+</span></h2>
                                        <p>Award Winning</p>
                                    </div>
                                </div>
                                <div class="coun_single">
                                    <div class="c_icon">
                                        <img src="assets/img/icon/c_02.png" alt="">
                                    </div>
                                    <div class="c_text">
                                        <h2>28k<span>+</span></h2>
                                        <p>Total Student</p>
                                    </div>
                                </div>
                                <div class="coun_single">
                                    <div class="c_icon">
                                        <img src="assets/img/icon/c_03.png" alt="">
                                    </div>
                                    <div class="c_text">
                                        <h2>138<span>+</span></h2>
                                        <p>Total instructors</p>
                                    </div>
                                </div>
                                <div class="coun_single">
                                    <div class="c_icon">
                                        <img src="assets/img/icon/c_04.png" alt="">
                                    </div>
                                    <div class="c_text">
                                        <h2>214<span>+</span></h2>
                                        <p>over the world</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- counter end -->

            <!-- about start -->
            <section class="about_area about_2 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about_left pos-rel mb-30">
                                <div class="about_img-1">
                                    <img src="assets/img/about/about_img_02.jpg" alt="">
                                </div>
                                <div class="about_img-2">
                                    <img src="assets/img/about/about_img_03.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about_content mb-30">
                                <div class="sec_title">
                                    <h2>We are turitor an online learning community.</h2>
                                    <p>At Turitor, we believe everyone should have the opportunity to create progress
                                        through technology and develop the skills of tomorrow. With assessments,
                                        learning paths and courses authored by industry experts</p>
                                </div>
                                <div class="about_tab mb-30">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                data-bs-target="#home" type="button" role="tab" aria-controls="home"
                                                aria-selected="true">Our Mission</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                data-bs-target="#profile" type="button" role="tab"
                                                aria-controls="profile" aria-selected="false">Our Vision</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab"
                                                data-bs-target="#contact" type="button" role="tab"
                                                aria-controls="contact" aria-selected="false">Our Values</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                            aria-labelledby="home-tab">we believe everyone should have the opportunity
                                            to create progress through technology and develop the skills of tomorrow
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                            aria-labelledby="profile-tab">we believe everyone should have the
                                            opportunity to create progress through technology and develop the skills of
                                            tomorrow</div>
                                        <div class="tab-pane fade" id="contact" role="tabpanel"
                                            aria-labelledby="contact-tab">we believe everyone should have the
                                            opportunity to create progress through technology and develop the skills of
                                            tomorrow</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="al_signle">
                                            <span><i class="fal fa-check"></i>Expert Trainer</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="al_signle">
                                            <span><i class="fal fa-check"></i>Remote Learning</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="al_signle">
                                            <span><i class="fal fa-check"></i>Lifetime Access</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="al_signle">
                                            <span><i class="fal fa-check"></i>Self Developmentr</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about end -->

            <!-- video start -->
            <section class="video_area pb-110">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="video_wrap pos-rel">
                                <div class="video_thumb">
                                    <img src="assets/img/bg/video_bg_01.jpg" alt="">
                                </div>
                                <a class="popup-video video_icon" href="https://www.youtube.com/watch?v=cRXm1p-CNyk"><i class="fal fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- video end -->

            <!-- team start -->
            <section class="team_area pb-90">
                <div class="container">
                    <div class="row align-items-center mb-15">
                        <div class="col-lg-8 col-md-8">
                            <div class="sec_title">
                                <h2>Featured Instructors</h2>
                                <p>Online learning offers a new way to explore subjects you’re passionate about.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="crs_btn text-md-end mb-20">
                                <a class="thm_btn" href="team.html">View all<i class="fal fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="team_single text-center mb-30">
                                <div class="team_thumb">
                                    <img src="assets/img/team/team_01.jpg" alt="">
                                    <div class="team_social social_icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team_text">
                                    <h3><a href="team-details.html">Mohammad Wasim</a></h3>
                                    <p>Web Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team_single text-center mb-30">
                                <div class="team_thumb">
                                    <img src="assets/img/team/team_02.jpg" alt="">
                                    <div class="team_social social_icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team_text">
                                    <h3><a href="team-details.html">Yalina De Demandy</a></h3>
                                    <p>Architecture Specialistr</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="team_single text-center mb-30">
                                <div class="team_thumb">
                                    <img src="assets/img/team/team_03.jpg" alt="">
                                    <div class="team_social social_icon">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </div>
                                </div>
                                <div class="team_text">
                                    <h3><a href="team-details.html">Rasalina de willamson</a></h3>
                                    <p>Software Enginner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- team end -->

            <!-- bai start -->
            <section class="bai_area bai_bootom_space">
                <div class="container">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="bai_wrap bai_left theme_bg">
                                <span># Become A Instructor</span>
                                <h3>Become a Instructor</h3>
                                <a class="thm_btn thm_btn-border" href="contact.html">apply now<i class="fal fa-long-arrow-right"></i></a>
                                <div class="bai_shape">
                                    <img src="assets/img/icon/bai_shape_01.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="bai_wrap bai_right white_bg">
                                <span># Become A Partner</span>
                                <h3>Become a Partner</h3>
                                <a class="thm_btn thm_btn-2" href="contact.html">Contact us<i class="fal fa-long-arrow-right"></i></a>
                                <div class="bai_shape">
                                    <img src="assets/img/icon/bai_shape_02.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- bai end -->

        </main>

  
{% endblock %}