<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {% for i in menu %}
        <li>
            {% if i.menus %}
            {{i.name}}
            <ul>
                {% for m in i.menus %}
                <li><a href="{{m.file.url}}">{{m.name}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <a href="{{i.file.url}}">{{i.name}}</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>